<!DOCTYPE html>
<html>
  <head>
    <title>Portal Sync</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="birthday-header">
      Birthdays & 
      <br>Anniversaries
    </div>
    <div class="birthday-container">
    <%- content %>
    </div>
  </body>
</html>
