@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

body {
  padding: 0px;
  font: 'Montserrat', sans-serif;
  text-align: center;
  color: #282a34;
  margin: 0 auto;
}

.header {
  font-size: 6em;
  color: white;
  text-shadow: 0 0 13px #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 30px 15%;
  background-color: red;
  text-align: center;
  background-image: url("../images/header.jpg");
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* 
    BIRTHDAYS & ANNIVERSARIES
*/
.container .widget a {
  color: red; 
}

.container .widget h3 {
  font-size: 2.75em;
  font-weight: 900 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #b7b9c4;
}

.container .widget img.avatar.avatar-96.photo {
  display: none;
}

.container .widget li {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 34px;
  font-size: 2em;
}

.container .widget ul {
  padding: 0;
}

.container .widget span.label {
    color: #003764;
    font-weight: bold;
}

/* strong {
  color: #003764 !important;
} */
.container .widget .intern-padding ul.birthdays-list li i{
  color: #b7b9c4;

}

.container .widget span.badge.badge-primary.badge-pill {
    color: #003762;
    font-weight: bold;
}

.container .widget span.badge.badge-primary.badge-pill:nth-child(3) {
    color: #da0000!important;
}

.container .widget span.badge.badge-primary.badge-pill {
  padding: 0 10px 0 0px!important;
}

.container .widget span.label:nth-child(4) {
  display: none;
}


/* 
    INDEED JOBS
*/
.container .indeed_jobs p {
    list-style-type: none;
    text-decoration: none;
    font-size: 2.75em;
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.container .indeed_jobs p:nth-child(10) {
    display: none;
}

.container .indeed_jobs a {
  display: none;
}